.intro {
    position: relative;
    margin-bottom: -5px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
/*.body-wrapper-2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f5f5f5;
}*/
/*body {
    background-color: #111;
    font-family: Poppins,sans-serif;
    font-size: 14px;
}
body, h5 {
    line-height: 20px;
}
body {
    margin: 0;
    min-height: 100%;
    color: #333;
}*/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    width: 8px;
    padding: 2.5px;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border: solid 1px #fff;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::selection {
    background: #a58220;
    color: white;
}
body {
    background-color: #000000;
    background-image: url("/w3images/mac.jpg");
    background-position: center;
    height: 500px;
    background-origin: initial;
    opacity: 1;
    margin-right: 50px;
}
nav {
    padding: 0.5%;
    margin-left: 8%;
}
nav a {
    color: #ffffff;
    padding: 2%;
    text-decoration: none;
    font-size: 19px;
    font-family: Odibee Sans,Times New Roman;
    font-weight: bold;
}
nav a:hover{
    background-color: rgba(255,255,255,0.3);
    color: #ffff00;
}
nav a:active {
    color: #e6e600
}
h1,h2,h3 {
    color: white;
    margin-left: 2%;
}
#context {
    margin-top: 15%;
    opacity: 1;
}
h3 {
    font-size: 20px;
    font-family: Suez One,Times New Roman;
    animation-delay: 1s;
}
h1 {
    font-size: 50px;
    font-family: Lobster,Comic Sans MS;
    animation-delay: 2s;
}
h2 {
    font-size: 20px;
    font-family: DM Mono,Microsoft Sans Seriff;
    animation-delay: 3s;
}

.move h2 {
    -webkit-animation: blurFadeIn 3s ease-in backwards;
    -moz-animation: blurFadeIn 3s ease-in backwards;
    -ms-animation: blurFadeIn 3s ease-in backwards;
    animation: blurFadeIn 3s ease-in backwards;
}
@-webkit-keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -webkit-transform: scale(1.3);
    }
    50% {
        opacity: 0.5;
        text-shadow: 0px 0px 10px #fff;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -moz-transform: scale(1.3);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -moz-transform: scale(1);
    }
}
@keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.3);
    }
    50% {
        opacity: 0.5;
        text-shadow: 0px 0px 10px #fff;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1);
    }
}

/*.frame {
    float: left;
}*/

 .line {
    width: 1200px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
div {
    display: block;
}
body {
    line-height: 20px;
}
header {
    background-position: center;
  background-size: cover;
  background-image: url("C://Users//garhe//my java programs//wesson-wang-y0_vFxOHayg-unsplash.jpg");
  min-height: 100%;
}
.container-2.container--intro {
    color: white;
    position: absolute;
    left: 0;
    top: 30%;
    right: 0;
    bottom: auto;
    z-index: 10;
}
.section__title.section__title--intro {
    width: 630px;
    margin-left: 10px;
    background-color: #111;
}
.section_title {
    color: yellow;
}

#aboutme {
    color: white;
    background-color: red;
    height: 600px;
    width: 550px;
    padding-left: 20px;
}
html {
    scroll-behavior: smooth;
}
/*.white-section {

    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 100px;
    color: #111;

}*/
#aboutme {
    height: 300px;
    background-color: black;
}
#exp {
    height: 600px;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 10px;
    background-image: url("C://Users//garhe//my java programs//willian-justen-de-vasconcellos-_MMP5j_fCqw-unsplash.jpg");
    margin-left: 50px;
    background-position: center;
    background-size: cover; 
    padding: 40px;
    
}
p {
    font-family: Swarabi Mincho;
    color: white;
    font-size: 20px;
    width: 80%;
    float: right;
    word-spacing: 10px;
    line-height: 30px;
}
* {
  padding:5px;
  margin:5px;
}

/*body {
  
  overflow-x:hidden;
  font-family:arial;
}*/

.transition {
    background:black;
  position:absolute;
  height:700px;
  width:30%;
  background:#d6d6d6;
  transform: skewX(-5deg) translateX(-50px);
  transition:2s all ease-in-out;
  -webkit-transition:2s all ease-in-out;
}

.content {
  position:relative;
  padding:200px 0 0  200px;
  color:#000;
  z-index:10;
  height:300px;
}

.click {
  outline:none;
  border:none;
  text-decoration:none;
  text-transform:uppercase;
  background:#202020;
  color:#eaeaea;
  box-sizing:border-box;
  margin-top:20px;
  padding:10px 40px;
}

.anim-trans {
  animation: anim 4s ease-in-out;
  }

  #work {
    height: 700px;
  }

@keyframes anim{
     0% { }
     20%  { z-index:11;\transform: skewX(5deg) translateX(-100%); }
     40%   { transform: skewX(0deg) translateX(0);
 width:100%; z-index:11; box-shadow: 10px 10px 5px #eaeaea;}
     60%   { transform: skewX(3deg) translateX(0);
 width:100%;z-index:11; box-shadow: 10px 10px 5px #eaeaea;}
     80%   { transform: skewX(1deg) translateX(-100%);
 width:60%;z-index:11; box-shadow: 10px 10px 5px #eaeaea;}
     100%   { transform: skewX(-5deg) translateX(-50px);
 width:30%;z-index:1; box-shadow: none;}
}

#contact {
    background-color: black;
    color: white;
    height: 300px;
    padding: 10px;
    float: right;
}

h4 {
    padding-top: 12px;
    font-size: 15px;
}